# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [8]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [54]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18

### Column Selection:

In [16]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [20]:
import pandas as pg
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [44]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

# print excel
data

   Unnamed: 0     name  degree  score
0           0     Abel     MBA     90
1           1    Kamsi     BCA     40
2           2    Oyode  M.Tech     80
3           3  Chinelo     MBA     98

### Select first row from file

In [50]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.iloc[0]

# print excel
df

Unnamed: 0       0
name          Abel
degree         MBA
score           90
Name: 0, dtype: object

### Selecting Row with Title Header

In [52]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("SIS.csv")

df=data.head(1)

# print excel
df

   MatNo          Name  Age  Grade
0   1810  Aina Adeleke   16     80

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [28]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [38]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [42]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('records.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [56]:
import pandas as pd

# Define the paths to your uploaded CSV files
btc_data_path = 'BTC_DATA_V3.0.csv'
programming_language_path = 'programming language trend over time.csv'
top_apps_path = 'Top-Apps-in-Google-Play.csv'

# List of datasets to process, with descriptive names for output
datasets = {
    "BTC_DATA_V3.0.csv": btc_data_path,
    "programming language trend over time.csv": programming_language_path,
    "Top-Apps-in-Google-Play.csv": top_apps_path
}

print("--- Starting Data Inspection ---")
print("-" * 30)

for name, path in datasets.items():
    print(f"\n### Processing: {name}")
    print("=" * (len(name) + 14))

    try:
        # Read the CSV file into a pandas DataFrame
        df = pd.read_csv(path)

        # 1. Display the first 7 rows of each dataset
        print(f"\n#### First 7 Rows of '{name}':")
        print(df.head(7).to_markdown(index=False)) # Using to_markdown for cleaner output

        # 2. Select the first 3 columns of each dataset
        # Check if the DataFrame has at least 3 columns
        if df.shape[1] >= 3:
            first_3_columns_df = df.iloc[:, :3]
            print(f"\n#### First 3 Columns (and their first 7 rows) of '{name}':")
            print(first_3_columns_df.head(7).to_markdown(index=False))
        else:
            print(f"\n#### '{name}' has fewer than 3 columns. Displaying all columns (first 7 rows):")
            print(df.head(7).to_markdown(index=False))


        # 3. Display only one row (the first) and header of each dataset
        print(f"\n#### First Row and Header of '{name}':")
        # .iloc[0:1] selects the first row as a DataFrame, preserving the header
        print(df.iloc[0:1].to_markdown(index=False))

    except FileNotFoundError:
        print(f"Error: The file '{name}' was not found at '{path}'. Please ensure it's uploaded correctly.")
    except Exception as e:
        print(f"An error occurred while processing '{name}': {e}")

print("\n--- Data Inspection Complete ---")

--- Starting Data Inspection ---
------------------------------

### Processing: BTC_DATA_V3.0.csv
===============================

#### First 7 Rows of 'BTC_DATA_V3.0.csv':
| Date      |   Price |   Open |    High |     Low | Vol.    | Change %   |
|:----------|--------:|-------:|--------:|--------:|:--------|:-----------|
| 25-Mar-22 |   44331 |  44013 | 45112   | 43622   | 494.09M | 0.72%      |
| 24-Mar-22 |   44013 |  42911 | 44251   | 42658   | 491.66M | 2.57%      |
| 23-Mar-22 |   42912 |  42373 | 43027   | 41795   | 433.96M | 1.27%      |
| 22-Mar-22 |   42373 |  41022 | 43327.9 | 40893   | 537.06M | 3.29%      |
| 21-Mar-22 |   41022 |  41282 | 41532   | 40530   | 406.62M | -0.62%     |
| 20-Mar-22 |   41276 |  42241 | 42301   | 40922   | 308.45M | -2.27%     |
| 19-Mar-22 |   42233 |  41768 | 42386   | 41529.6 | 224.59M | 1.11%      |

#### First 3 Columns (and their first 7 rows) of 'BTC_DATA_V3.0.csv':
| Date      |   Price |   Open |
|:----------|--------:|-------:|
| 25-Mar-22 |   44331 |  44013 |
| 24-Mar-22 |   44013 |  42911 |
| 23-Mar-22 |   42912 |  42373 |
| 22-Mar-22 |   42373 |  41022 |
| 21-Mar-22 |   41022 |  41282 |
| 20-Mar-22 |   41276 |  42241 |
| 19-Mar-22 |   42233 |  41768 |

#### First Row and Header of 'BTC_DATA_V3.0.csv':
| Date      |   Price |   Open |   High |   Low | Vol.    | Change %   |
|:----------|--------:|-------:|-------:|------:|:--------|:-----------|
| 25-Mar-22 |   44331 |  44013 |  45112 | 43622 | 494.09M | 0.72%      |

### Processing: programming language trend over time.csv
======================================================

#### First 7 Rows of 'programming language trend over time.csv':
| Week      |   Python |   Java |   C++ |
|:----------|---------:|-------:|------:|
| 4/21/2019 |       55 |     55 |    18 |
| 4/28/2019 |       52 |     50 |    16 |
| 5/5/2019  |       56 |     56 |    17 |
| 5/12/2019 |       56 |     61 |    18 |
| 5/19/2019 |       57 |     56 |    17 |
| 5/26/2019 |       55 |     57 |    17 |
| 6/2/2019  |       54 |     58 |    15 |

#### First 3 Columns (and their first 7 rows) of 'programming language trend over time.csv':
| Week      |   Python |   Java |
|:----------|---------:|-------:|
| 4/21/2019 |       55 |     55 |
| 4/28/2019 |       52 |     50 |
| 5/5/2019  |       56 |     56 |
| 5/12/2019 |       56 |     61 |
| 5/19/2019 |       57 |     56 |
| 5/26/2019 |       55 |     57 |
| 6/2/2019  |       54 |     58 |

#### First Row and Header of 'programming language trend over time.csv':
| Week      |   Python |   Java |   C++ |
|:----------|---------:|-------:|------:|
| 4/21/2019 |       55 |     55 |    18 |

### Processing: Top-Apps-in-Google-Play.csv
=========================================

#### First 7 Rows of 'Top-Apps-in-Google-Play.csv':
|   Unnamed: 0 | App Name                         | App Id                                  | Category                | Developer Id   | Developer Website                                                                        | Developer Email              | Content Rating   | Ad Supported   | In App Purchases   |
|-------------:|:---------------------------------|:----------------------------------------|:------------------------|:---------------|:-----------------------------------------------------------------------------------------|:-----------------------------|:-----------------|:---------------|:-------------------|
|            1 | Google Play services             | com.google.android.gms                  | Tools                   | Google LLC     | https://developers.google.com/android/google-play-services/                              | apps-help@google.com         | Everyone         | False          | False              |
|            2 | YouTube                          | com.google.android.youtube              | Video Players & Editors | Google LLC     | https://support.google.com/youtube/topic/2422554?rd=1                                    | ytandroid-support@google.com | Teen             | True           | False              |
|            3 | Google                           | com.google.android.googlequicksearchbox | Tools                   | Google LLC     | https://www.google.com/search/about/                                                     | apps-help@google.com         | Everyone         | True           | False              |
|            4 | Google Maps - Navigate & Explore | com.google.android.apps.maps            | Travel & Local          | Google LLC     | http://maps.google.com/about/                                                            | apps-help@google.com         | Everyone         | True           | False              |
|            5 | Google Text-to-Speech            | com.google.android.tts                  | Tools                   | Google LLC     | http://www.google.com/                                                                   | tts-feedback@google.com      | Everyone         | False          | False              |
|            6 | Google Chrome: Fast & Secure     | com.android.chrome                      | Communication           | Google LLC     | http://www.google.com/chrome/android                                                     | apps-help@google.com         | Everyone         | False          | False              |
|            7 | Gmail                            | com.google.android.gm                   | Communication           | Google LLC     | http://support.google.com/mail/bin/topic.py?hl=en&topic=2451697&parent=2451730&ctx=topic | apps-help@google.com         | Everyone         | True           | False              |

#### First 3 Columns (and their first 7 rows) of 'Top-Apps-in-Google-Play.csv':
|   Unnamed: 0 | App Name                         | App Id                                  |
|-------------:|:---------------------------------|:----------------------------------------|
|            1 | Google Play services             | com.google.android.gms                  |
|            2 | YouTube                          | com.google.android.youtube              |
|            3 | Google                           | com.google.android.googlequicksearchbox |
|            4 | Google Maps - Navigate & Explore | com.google.android.apps.maps            |
|            5 | Google Text-to-Speech            | com.google.android.tts                  |
|            6 | Google Chrome: Fast & Secure     | com.android.chrome                      |
|            7 | Gmail                            | com.google.android.gm                   |

#### First Row and Header of 'Top-Apps-in-Google-Play.csv':
|   Unnamed: 0 | App Name             | App Id                 | Category   | Developer Id   | Developer Website                                           | Developer Email      | Content Rating   | Ad Supported   | In App Purchases   |
|-------------:|:---------------------|:-----------------------|:-----------|:---------------|:------------------------------------------------------------|:---------------------|:-----------------|:---------------|:-------------------|
|            1 | Google Play services | com.google.android.gms | Tools      | Google LLC     | https://developers.google.com/android/google-play-services/ | apps-help@google.com | Everyone         | False          | False              |

--- Data Inspection Complete ---

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [60]:
import pandas as pd

def document_cadbury_products():
    """
    Documents Cadbury Nigeria Plc's product consumption categories,
    segments, and brands into a Pandas DataFrame and saves it to a CSV file.
    """

    # Data extracted from the provided company description
    # This list of dictionaries will form the basis of our DataFrame
    products_data = [
        # Refreshment Beverages Segment
        {
            'Product Name': 'Bournvita',
            'Segment': 'Refreshment Beverages',
            'Brand': 'CADBURY BOURNVITA',
            'Market/Usage': 'Nigerian Market (Consumer)'
        },
        {
            'Product Name': 'Hot Chocolate',
            'Segment': 'Refreshment Beverages',
            'Brand': 'CADBURY 3-in-1 HOT CHOCOLATE',
            'Market/Usage': 'Nigerian Market (Consumer)'
        },
        # Confectionery Segment
        {
            'Product Name': 'Tom Tom Classic',
            'Segment': 'Confectionery',
            'Brand': 'TOMTOM CLASSIC',
            'Market/Usage': 'Nigerian Market (Consumer)'
        },
        {
            'Product Name': 'Tom Tom Strawberry',
            'Segment': 'Confectionery',
            'Brand': 'TOMTOM STRAWBERRY',
            'Market/Usage': 'Nigerian Market (Consumer)'
        },
        {
            'Product Name': 'Buttermint',
            'Segment': 'Confectionery',
            'Brand': 'BUTTERMINT',
            'Market/Usage': 'Nigerian Market (Consumer)'
        },
        # Intermediate Cocoa Products Segment
        {
            'Product Name': 'Cocoa Powder',
            'Segment': 'Intermediate Cocoa Products',
            'Brand': 'COCOA POWDER',
            'Market/Usage': 'Local Market (Intermediate Product)'
        },
        {
            'Product Name': 'Cocoa Butter',
            'Segment': 'Intermediate Cocoa Products',
            'Brand': 'COCOA BUTTER',
            'Market/Usage': 'Export (International Customer)'
        },
        {
            'Product Name': 'Cocoa Liquor',
            'Segment': 'Intermediate Cocoa Products',
            'Brand': 'COCOA LIQUOR',
            'Market/Usage': 'Export (International Customer)'
        },
        {
            'Product Name': 'Cocoa Cake',
            'Segment': 'Intermediate Cocoa Products',
            'Brand': 'COCOA CAKE',
            'Market/Usage': 'Export (International Customer)'
        }
    ]

    # Create a Pandas DataFrame from the structured data
    df = pd.DataFrame(products_data)

    # Define the filename for the CSV output
    filename = 'cadbury_market.csv'

    try:
        # Save the DataFrame to a CSV file
        # index=False prevents Pandas from writing the DataFrame index as a column in the CSV
        df.to_csv(filename, index=False)
        print(f"Successfully documented Cadbury products and brands to '{filename}'.")
        print("\n--- First 5 rows of the generated DataFrame: ---")
        print(df.head().to_markdown(index=False)) # Display the head of the DataFrame for verification
    except Exception as e:
        print(f"An error occurred while saving the data to CSV: {e}")

# Run the function to create the documentation file
if __name__ == '__main__':
    document_cadbury_products()

Successfully documented Cadbury products and brands to 'cadbury_market.csv'.

--- First 5 rows of the generated DataFrame: ---
| Product Name       | Segment               | Brand                        | Market/Usage               |
|:-------------------|:----------------------|:-----------------------------|:---------------------------|
| Bournvita          | Refreshment Beverages | CADBURY BOURNVITA            | Nigerian Market (Consumer) |
| Hot Chocolate      | Refreshment Beverages | CADBURY 3-in-1 HOT CHOCOLATE | Nigerian Market (Consumer) |
| Tom Tom Classic    | Confectionery         | TOMTOM CLASSIC               | Nigerian Market (Consumer) |
| Tom Tom Strawberry | Confectionery         | TOMTOM STRAWBERRY            | Nigerian Market (Consumer) |
| Buttermint         | Confectionery         | BUTTERMINT                   | Nigerian Market (Consumer) |